@using Paylocity.Interview.Web.Extensions;

<div class="ui modal" id="modal-EditEmployee">
    <div class="header">
        <p>Manage Employee</p>
    </div>

    <div class="content">
        <div class="ui form">

            <div class="ui error message"></div>

            <div>
                @* Name/Email *@
                <h4 class="ui dividing header">Details</h4>
                <div class="required field">
                    <div class="two fields">
                        <div class="required field">
                            <input type="text" name="firstName" placeholder="First Name">
                        </div>
                        <div class="required field">
                            <input type="text" name="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="required field">
                        <div class="two fields">
                            <div class="required field">
                                <input type="email" name="email" placeholder="Email Address">
                            </div>
                            <div class="required field">
                                <input type="tel" name="phoneNumber" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Address *@
            <h4 class="ui dividing header">Address</h4>
            <div class="required field">
                <div class="fields">
                    <div class="required twelve wide field">
                        <input type="text" name="address1" placeholder="Street Address">
                    </div>
                    <div class="four wide field">
                        <input type="text" name="address2" placeholder="Apt #">
                    </div>
                </div>
            </div>
            <div class="required field">
                <div class="four fields">
                    <div class="required field">
                        <input type="text" name="city" placeholder="City">
                    </div>
                    <div class="required field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="state">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select State</div>
                            <div class="menu">
                            </div>
                        </div>
                    </div>
                    <div class="required field">
                        <input type="text" name="postalCode" placeholder="Postal Code">
                    </div>
                    <div class="required field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="country">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Country</div>
                            <div class="menu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui two column grid">
                <div class="column">
                    @* Dependents *@
                    <h4 class="ui dividing header">Dependents</h4>
                    <div id="uiAddDependent" class="ui small green left labeled icon button">
                        <i class="plus icon"></i>
                        Add Dependent
                    </div>
                    <table id="uiDepdendentsList" class="ui compact striped selectable unstackable table"></table>
                </div>
                <div class="column">
                    @* Benefits Summary *@
                    <h4 class="ui dividing header">Benefits Summary</h4>
                    <div id="uiBenefitsWrapper"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">

        <div id="uiDeactivateEmployeeBtn" class="ui left labeled left floated icon button red">
            <i class="remove icon"></i>
            Deactivate
        </div>

        <div id="uiActivateEmployeeBtn" class="ui left labeled left floated icon button green">
            <i class="redo icon"></i>
            Reactivate
        </div>

        @Html.ModalSaveCloseButtons()
    </div>
</div>
 