@{
    ViewBag.Title = "Employees";
}

@section scripts {
    @Scripts.Render("~/bundles/pageHome")
}

@* Header Area *@
<div class="ui two column grid">
    <div class="column">
        <h1 class="ui header">
            Employee Management
            <div class="sub header">
                Manage the employees of your company using the list below.
            </div>
        </h1>
    </div>

    <div class="column">
        @* Add Employee *@
        <div id="uiAddEmployeeBtn" class="ui right floated green left labeled icon button">
            <i class="plus icon"></i>
            Add Employee
        </div>
    </div>
</div>

@* Employee List *@
<table id="uiEmployeeList" class="ui single line striped unstackable table"></table>
